<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        /* footer */

        .footer {
            width: 100%;
            height: fit-content;
            text-align: center;
            padding: 30px 0;
            background-color: rgb(244, 230, 222);

            justify-content: center;

        }

        .footer h1 {
            margin-bottom: 10px;
            margin-top: 10px;
            font-weight: 600;
            text-decoration: none;

        }

        .icons .fa {
            color: #f44336;
            margin: 0 13px;
            cursor: pointer;
            padding: 18px 0;

        }

        .fa-heart-o {
            color: red;

        }
    </style>
</head>

<body>

    <div class="footer">
        <h1><a href="/about">MORE ABOUT US</a></h1>
        <p> We aims to provide the support to the needy people</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>

        </div>
        <p1> Made with Love <i class="fa fa-heart-o"></i> Nepal Cares</p1>
        <br>
        <p2>@CopyRight All Reserved 2023</p2>

    </div>

</body>

</html>