<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <style>
        .about {
            background-image: url('/images/donate.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .about {
            background-color: #FFFFFF;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }

        .about .div {
            background-color: #FFFFFF;
            width: 1280px;
            height: 832px;
            position: relative;
        }

        .about .navbar {
            position: absolute;
            width: 1182px;
            height: 56px;
            top: 17px;
            left: 28px;
        }

        .about .overlap-group {
            position: absolute;
            width: 71px;
            height: 56px;
            top: 0;
            left: 0;
        }

        .about .vector {
            position: absolute;
            width: 150px;
            height: 150px;
            top: 0px;
            right: 50px;
            left: -50px;
        }

        .about .img {
            position: absolute;
            width: 46px;
            height: 48px;
            top: 0;
            left: 25px;
        }

        .about .nepal-cares {
            position: absolute;
            width: 141px;
            top: 17px;
            left: 80px;
            font-family: "Poppins-Bold", Helvetica;
            font-weight: 700;
            color: transparent;
            font-size: 20px;
            letter-spacing: 0;
            line-height: normal;
            white-space: nowrap;
        }

        .about .text-wrapper {
            color: #161923;
        }

        .about .span {
            color: #C95501;
        }

        .about .overlap-group .vector {
            position: absolute;
            width: 80px;
            height: 80px;
            top: 0px;
            right: 150px;
            left: 0px;
        }

        .about .text-wrapper-2 {
            left: 709px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            position: absolute;
            top: 18px;
            color: #161923;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .text-wrapper-3 {
            left: 919px;
            font-family: "Poppins-SemiBold", Helvetica;
            font-weight: 600;
            position: absolute;
            top: 18px;
            color: #161923;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .text-wrapper-4 {
            left: 804px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            position: absolute;
            top: 18px;
            color: #161923;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .text-wrapper-5 {
            position: absolute;
            top: 18px;
            left: 1013px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #161923;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .text-wrapper-6 {
            position: absolute;
            top: 18px;
            left: 1125px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #161923;
            font-size: 16px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .text-wrapper-7 {
            position: absolute;
            width: 179px;
            top: 237px;
            left: 573px;
            font-family: "Lora-Bold", Helvetica;
            font-weight: 700;
            color: #C95501;
            font-size: 40px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .text-wrapper-8 {
            top: 335px;
            left: 608px;
            position: absolute;
            font-family: "Lora-Bold", Helvetica;
            font-weight: 700;
            color: #000000;
            font-size: 20px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .overlap {
            position: absolute;
            width: 254px;
            height: 71px;
            top: 531px;
            left: 536px;
        }

        .about .text-wrapper-9 {
            top: 45px;
            left: 72px;
            position: absolute;
            font-family: "Lora-Bold", Helvetica;
            font-weight: 700;
            color: #000000;
            font-size: 20px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .text-wrapper-10 {
            position: absolute;
            width: 254px;
            top: 0;
            left: 0;
            font-family: "Lora-Bold", Helvetica;
            font-weight: 700;
            color: #000000;
            font-size: 20px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .and-donate-to {
            position: absolute;
            width: 659px;
            top: 405px;
            left: 350px;
            font-family: "Lora-Bold", Helvetica;
            font-weight: 700;
            color: #000000;
            font-size: 20px;
            letter-spacing: 0;
            line-height: normal;
        }
    </style>
    <div class="about">
        <div class="div">
            <div class="navbar">
                <div class="overlap-group">
                    <img class="vector" src="images/logo.png" />
                </div>

                <div class="text-wrapper-2" href="/">
                    <a href="/" style="color:#000000">Home</a>
                </div>
                <div class="text-wrapper-3"><a href="/about" style="color:#000000">About</a>
                </div>
                <div class="text-wrapper-4"><a href="/Discover" style="color:#000000;">Discover</a>
                </div>
                <div class="text-wrapper-5"><a href="/contact" style="color:#000000">Contact</a>
                </div>
                <div class="text-wrapper-6"><a href="/joinus" style="color:#000000">Join Us</a>
                </div>
            </div>
            <div class="text-wrapper-7">Join Us</div>
            <div class="text-wrapper-8">
                <button style="background-color:#c95501; font-size: 20px;"><a href="/signuppage"
                        style="color: #000000;">Sign Up</a></button>
            </div>
            <div class="overlap">
                <div class="text-wrapper-9"> <button style="background-color:#c95501; font-size: 20px;"><a
                            href="/signinpage" style="color: #000000;">Sign In</a></button></div>
                <div class="text-wrapper-10">Already have an account</div>
            </div>
            <p class="and-donate-to">And donate to millions of people who need your help Right&nbsp;&nbsp;Now !!</p>
        </div>
    </div>
    <footer>
        <%- include('./footer'); %>
    </footer>
</body>

</html>