<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <style>
        .about {
            background-color: #ffffff;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }

        .about .div {
            background-color: #ffffff;
            width: 1280px;
            height: 832px;
            position: relative;
        }

        .about .text-wrapper {
            position: absolute;
            top: 44px;
            left: 1142px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            font-size: 20px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .ellipse {
            position: absolute;
            width: 303px;
            height: 302px;
            top: 67px;
            left: 91px;
            border-radius: 50%;
        }

        .about .text-wrapper-2 {
            position: absolute;
            top: 415px;
            left: 191px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            font-size: 20px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .overlap {
            width: 205px;
            height: 56px;
            top: 140px;
            left: 1012px;
            background-color: #161923;
            position: absolute;
            border-radius: 20px;
        }

        .about .text-wrapper-3 {
            position: absolute;
            top: 9px;
            left: 30px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #ffffff;
            font-size: 24px;
            letter-spacing: 0;
            line-height: normal;

            
        }

        .about .text-wrapper-3 a{
            text-decoration: none;
            

        }
        .about .overlap-group {
            width: 205px;
            height: 56px;
            top: 218px;
            left: 1012px;
            background-color: #c95501;
            position: absolute;
            border-radius: 20px;
        }
        .about .overlap-group .text-wrapper-4
        {
            text-decoration: none;
        }
        .about .text-wrapper-4 {
            position: absolute;
            top: 9px;
            left: 56px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #ffffff;
            font-size: 24px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .overlap-group-2 {
            width: 1137px;
            height: 315px;
            top: 468px;
            left: 80px;
            background-color: #161923c7;
            position: absolute;
            border-radius: 20px;
        }

        .about .overlap-2 {
            width: 454px;
            height: 121px;
            top: 22px;
            left: 27px;
            background-color: #161923d6;
            position: absolute;
            border-radius: 20px;
        }

        .about .text-wrapper-5 {
            top: 24px;
            left: 297px;
            position: absolute;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #ffffff;
            font-size: 24px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .donations-made {
            top: 24px;
            position: absolute;
            left: 36px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #ffffff;
            font-size: 24px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .overlap-3 {
            width: 454px;
            height: 121px;
            top: 170px;
            left: 27px;
            background-color: #161923d6;
            position: absolute;
            border-radius: 20px;
        }

        .about .text-wrapper-6 {
            top: 16px;
            left: 317px;
            position: absolute;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #ffffff;
            font-size: 24px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .text-wrapper-7 {
            top: 16px;
            position: absolute;
            left: 36px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #ffffff;
            font-size: 24px;
            letter-spacing: 0;
            line-height: normal;
        }

        .about .div-wrapper {
            width: 596px;
            height: 267px;
            top: 24px;
            left: 511px;
            background-color: #c95501;
            position: absolute;
            border-radius: 20px;
        }

        .about .text-wrapper-8 {
            position: absolute;
            top: 90px;
            left: 243px;
            font-family: "Poppins-Regular", Helvetica;
            font-weight: 400;
            color: #ffffff;
            font-size: 48px;
            letter-spacing: 0;
            line-height: normal;
        }
    </style>
    <div class="about">
        <div class="div">
            <div class="text-wrapper"><a href="/" style="color: #000000;">Home</a></div>
            <img class="ellipse" src="images/oldman3.webp" />
            <div class="text-wrapper-2">Username</div>
            <div class="overlap">
                <div class="text-wrapper-3"><a href="/donation" style="color: #ffffff">Donate now</a></div>
            </div>
            <div class="overlap-group">
                <div class="text-wrapper-4"><a href="/addfundraiser" style="color: #ffffff">Fundraiser</a></div>
            </div>
            <div class="overlap-group-2">
                <div class="overlap-2">
                    <div class="text-wrapper-5">........</div>
                    <div class="donations-made">Donations&nbsp;&nbsp;Made :</div>
                </div>
                <div class="overlap-3">
                    <div class="text-wrapper-6">........</div>
                    <div class="text-wrapper-7">Donations Received :</div>
                </div>
                <div class="div-wrapper">
                    <div class="text-wrapper-8">CHART</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>