<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="styles.css">
</head>
<style>
  /* styles.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://i.pinimg.com/474x/cc/f0/42/ccf042897fb329791bec2b73be8d0659--spirituality-knowledge.jpg');
}
.signup-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  height: 500px;
  width: 700px;
}
h2 {
  color: #EE682F;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  margin: 15px 0;
  width: 100%;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background-color: rgb(240, 112, 58);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
button:hover {
  background-color: #E55D2B;
}
</style>
<body>
  <div class="signup-container">
    <h2 style="color: #6A2608;">Create an Account</h2>
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>
  <script>
    document.getElementById('signupForm').addEventListener('submit', function(submitSignUp) {
      submitSignUp.preventDefault(); // Prevent the default form submission
      const formData = new FormData(submitSignUp.target);
      for (let entry of formData.entries()) {
        console.log(entry[0] + ': ' + entry[1]);
      }
      function togglePasswordVisibility() {
          var passwordInput = document.getElementById("password");
          console.log(passwordInput);
          if (passwordInput.type === "password") {
            passwordInput.type = "text";
          } else {
            passwordInput.type = "password";
          }
        }
    });
    </script>
</body>
</html>